# Dependencies
node_modules/

# Environment & Secret Files
.env
.env.*
.env.local
.env.development
.env.test
.env.production
*.pem
*.key
*.cert

# Local runtime logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db
